/* ChatBot.css */

/* Overall chat application container */
.chat-app-container {
  width: 100%;
  height: 100vh;
}

/* Header styling */
.chat-header {
  display: flex;
  justify-content: center; /* Center align header content */
  margin-bottom: 20px;
}

.chat-header h1 {
  font-size: 24px;
  color: #333;
}

/* Main chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 50px); /* Adjusted for header */
}

/* Styling for the wrapper around messages */
.messages-wrapper {
  width: 100%;
  max-width: 800px;
  height: calc(100% - 110px); /* Adjusted for options and input */
  padding: 0 20px; /* Adjusted for better padding */
  overflow-y: auto; /* Added to enable scrolling if messages overflow */
}

/* Styling for individual messages */
.messages {
  height: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

/* AI message styling */
.message.ai {
  align-self: flex-start;
  background-color: #000000;
  color: white; /* Added for better readability */
}

/* User message styling */
.message.user {
  align-self: flex-end;
  background-color: #4a90e2;
  color: white;
}

/* Styling for user input section */
.user-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.user-input input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-input button {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-input button:hover {
  background-color: #3572b0;
}

/* Styling for options container */
.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.options-container button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options-container button:hover {
  background-color: #3572b0;
}

video#video {
  width: 50%;
  height: auto;
  margin-left: 25%;
}
