/* ChatBot.css */

.chat-app-container {
  width: 1000px;
  height: 100vh;
}

.chat-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.chat-header h1 {
  font-size: 24px;
  color: #333;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 50px); /* Adjusted for header */
}

.messages-wrapper {
  width: 100%;
  max-width: 800px;
  height: calc(100% - 110px); /* Adjusted for options and input */
  padding: 0 20px; /* Adjusted for better padding */
  overflow-y: auto; /* Added to enable scrolling if messages overflow */
}

.messages {
  height: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.message.ai {
  align-self: flex-start;
  background-color: #000000;
  color: white; /* Added for better readability */
}

.message.user {
  align-self: flex-end;
  background-color: #4a90e2;
  color: white;
}

.user-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.user-input input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-input button {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-input button:hover {
  background-color: #3572b0;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.options-container button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options-container button:hover {
  background-color: #3572b0;
}
